Repository enjoydarts/fragfolio: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 5%
    patch:
      default:
        target: 80%
        threshold: 5%

flags:
  backend:
    paths:
      - backend/
  frontend:
    paths:
      - frontend/

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

ignore:
  - "backend/tests/"
  - "frontend/tests/"
  - "backend/database/migrations/"
  - "backend/database/seeders/"
  - "backend/config/"
  - "backend/bootstrap/"
  - "backend/storage/"
  - "backend/resources/views/"
  - "frontend/src/test/"
  - "frontend/dist/"
  - "frontend/coverage/"

PHPStan設定にライブラリエラーの無視設定を追加
  backend/phpstan.neon
Due: backend

PHPStan toArrayメソッドエラーのワイルドカードパターンで対応
  backend/app/Models/User.php
  backend/phpstan.neon
Due: backend

WebAuthnRegisterControllerのtoArray()エラーを修正
  backend/app/Http/Controllers/WebAuthn/WebAuthnRegisterController.php
Due: backend

PHPStan設定から不要な無視パターンを削除
  backend/phpstan.neon
Due: backend

ESLintエラーを部分修正
  frontend/src/components/auth/LoginForm.tsx
  frontend/src/components/security/TOTPSettings.tsx
  frontend/src/contexts/AuthContext.tsx
Due: frontend

ESLintエラーの完全修正とコード品質向上
  frontend/index.html
  frontend/src/api/auth.ts
  frontend/src/api/twoFactor.ts
  frontend/src/api/webauthn.ts
  frontend/src/components/auth/LoginForm.tsx
  frontend/src/components/auth/ProtectedRoute.tsx
  frontend/src/components/auth/RegisterForm.tsx
  frontend/src/components/layout/Header.tsx
  frontend/src/components/security/TOTPSettings.tsx
  frontend/src/components/security/WebAuthnSettings.tsx
  frontend/src/components/ui/ConfirmDialog.tsx
  frontend/src/components/ui/Toast.tsx
  frontend/src/components/ui/ToastContainer.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/contexts/ToastContext.tsx
  frontend/src/hooks/useConfirm.ts
  frontend/src/hooks/useToast.ts
  frontend/src/hooks/useToastContext.ts
  frontend/src/pages/AccountSettings.tsx
  frontend/src/pages/ResetPassword.tsx
  frontend/src/test/mocks/handlers.ts
  frontend/tests/api/twoFactor.test.ts
  frontend/tests/api/webauthn.test.ts
  frontend/tests/components/App.test.tsx
  frontend/tests/components/auth/LoginForm.test.tsx
  frontend/tests/components/auth/ProtectedRoute.test.tsx
  frontend/tests/components/auth/RegisterForm.test.tsx
  frontend/tests/components/auth/TurnstileWidget.test.tsx
  frontend/tests/components/layout/Header.test.tsx
  frontend/tests/components/layout/LoadingSpinner.test.tsx
  frontend/tests/components/security/TOTPSettings.test.tsx
  frontend/tests/components/security/WebAuthnSettings.test.tsx
  frontend/tests/components/ui/ConfirmDialog.test.tsx
  frontend/tests/components/ui/Toast.test.tsx
  frontend/tests/components/ui/ToastContainer.test.tsx
  frontend/tests/contexts/AuthContext.test.tsx
  frontend/tests/mocks/handlers.ts
  frontend/tests/mocks/server.ts
  frontend/tests/pages/AuthPage.test.tsx
  frontend/tests/utils.tsx
Due: frontend

WebAuthn/TOTP認証システムの完全統合とパスワード管理強化
  backend/app/Actions/Fortify/CreateNewUser.php
  backend/app/Http/Controllers/Api/Auth/AuthController.php
  backend/app/Models/User.php
  backend/lang/en/auth.php
  backend/lang/ja/auth.php
  backend/routes/api.php
  frontend/src/api/auth.ts
  frontend/src/components/auth/LoginForm.tsx
  frontend/src/components/security/TOTPSettings.tsx
  frontend/src/components/ui/ToastContainer.tsx
  frontend/src/contexts/ToastContext.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ja.json
  frontend/src/pages/AccountSettings.tsx
Due: backend, frontend

Laravel Pintによるコード整形
  backend/app/Http/Controllers/Api/Auth/AuthController.php
  backend/app/Models/User.php
Due: backend

コード品質修正とPHPStan/ESLintエラー解決
  backend/app/Models/User.php
  frontend/src/contexts/ToastContext.tsx
  frontend/src/contexts/toast.ts
  frontend/src/hooks/useToastContext.ts
Due: backend, frontend

Prettierフォーマット修正
  frontend/src/components/auth/LoginForm.tsx
  frontend/src/components/security/TOTPSettings.tsx
  frontend/src/contexts/toast.ts
  frontend/src/pages/AccountSettings.tsx
Due: frontend

テスト修正: パスワード要件強化に対応とモデル修正
  backend/app/Models/EmailChangeRequest.php
  backend/tests/Feature/Auth/AuthControllerTest.php
  backend/tests/Feature/Auth/LoginTest.php
  backend/tests/Feature/Auth/RegisterTest.php
  backend/tests/Feature/Auth/TwoFactorLoginTest.php
  backend/tests/Unit/UseCases/Auth/LoginUserUseCaseTest.php
  backend/tests/Unit/UseCases/Auth/PasswordResetUseCaseTest.php
  backend/tests/Unit/UseCases/Auth/RegisterUserUseCaseTest.php
  frontend/tests/contexts/AuthContext.test.tsx
Due: backend

テスト完全修正とデータベース分離強化
  backend/tests/Feature/Auth/AuthControllerTest.php
  backend/tests/TestCase.php
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ja.json
  frontend/tests/api/auth.test.ts
  frontend/tests/components/security/PasswordChangeForm.test.tsx
  frontend/tests/mocks/handlers.ts
Due: frontend

パスワード変更フォームの国際化対応とトーストメッセージの多言語化
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ja.json
  frontend/tests/components/security/PasswordChangeForm.test.tsx
Due: frontend

コードフォーマットの修正
  frontend/tests/components/security/PasswordChangeForm.test.tsx
  frontend/tests/mocks/handlers.ts
Due: none

パスワード変更トーストメッセージの完全多言語化
  frontend/src/components/security/TOTPSettings.tsx
  frontend/src/components/security/WebAuthnSettings.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ja.json
  frontend/src/pages/AccountSettings.tsx
  frontend/src/pages/EmailVerification.tsx
  frontend/src/pages/ForgotPassword.tsx
  frontend/src/pages/ResetPassword.tsx
Due: frontend

残りの日本語フォールバックテキストを完全削除
  frontend/src/pages/AccountSettings.tsx
Due: frontend

不適切な翻訳キー使用を大幅修正
  frontend/src/components/auth/LoginForm.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ja.json
  frontend/src/pages/AccountSettings.tsx
  frontend/src/pages/EmailVerification.tsx
  frontend/src/pages/ForgotPassword.tsx
  frontend/src/pages/ResetPassword.tsx
Due: frontend

APIファイルの日本語メッセージを英語に統一
  frontend/src/api/webauthn.ts
  frontend/src/components/auth/LoginForm.tsx
Due: frontend

フォールバックテキストの大幅削除とテスト状況改善
  frontend/src/pages/AccountSettings.tsx
Due: frontend

フロントエンド完全国際化対応とテストオールグリーン達成
  frontend/src/api/twoFactor.ts
  frontend/src/api/webauthn.ts
  frontend/src/components/auth/LoginForm.tsx
  frontend/src/components/layout/Header.tsx
  frontend/src/components/security/TOTPSettings.tsx
  frontend/src/components/security/WebAuthnSettings.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ja.json
  frontend/src/pages/AccountSettings.tsx
  frontend/src/pages/ForgotPassword.tsx
  frontend/src/pages/HomePage.tsx
  frontend/tests/api/twoFactor.test.ts
  frontend/tests/api/webauthn.test.ts
Due: frontend

コードフォーマット修正
  frontend/src/api/twoFactor.ts
  frontend/src/api/webauthn.ts
  frontend/src/components/auth/LoginForm.tsx
  frontend/src/components/security/TOTPSettings.tsx
  frontend/src/components/security/WebAuthnSettings.tsx
  frontend/src/pages/AccountSettings.tsx
  frontend/tests/api/twoFactor.test.ts
  frontend/tests/api/webauthn.test.ts
Due: frontend

パスワード変更機能の包括的なテストを追加
  frontend/src/test/setup.ts
Due: none

テスト修正: WebAuthnテストでのデータベース接続問題を解決
  backend/tests/TestCase.php
Due: none

フロントエンドとバックエンドのテスト修正
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ja.json
  frontend/tests/components/auth/LoginForm.test.tsx
  frontend/tests/components/auth/RegisterForm.test.tsx
Due: frontend

CI環境でのTurnstileWidget環境変数モック問題を修正
  frontend/tests/components/auth/LoginForm.test.tsx
  frontend/tests/components/auth/RegisterForm.test.tsx
Due: none

Node.jsをv22（LTS）にアップデート
  .github/workflows/ci.yml
  frontend/package.json
Due: frontend

CI詳細ログ出力とMSWハンドラー不足を修正
  .github/workflows/ci.yml
  frontend/tests/mocks/handlers.ts
Due: none

TypeScript型エラーを包括的に修正
  AGENTS.md
  frontend/src/api/auth.ts
  frontend/src/api/webauthn.ts
  frontend/src/test/mocks/handlers.ts
  frontend/src/test/setup.ts
  frontend/tests/mocks/handlers.ts
Due: frontend

WebAuthnCredentialファイル名のPSR-4違反を修正
  .github/workflows/ci.yml
  frontend/tests/api/webauthn.test.ts
  frontend/tests/mocks/handlers.ts
Due: none

テストカバレッジ閾値を現実的な値に調整
  frontend/vite.config.ts
Due: frontend

CIビルドエラーのTypeScript問題を包括的に修正
  frontend/src/api/webauthn.ts
  frontend/src/components/auth/LoginForm.tsx
  frontend/src/components/security/WebAuthnSettings.tsx
  frontend/src/test/mocks/handlers.ts
Due: frontend

WebAuthnCredentialFactoryのPSR-4違反を修正
  backend/database/factories/WebauthnCredentialFactory.php
Due: backend

WebAuthn feature tests のインポート文修正でCI失敗を解決
  backend/tests/Feature/Auth/WebAuthnManagementControllerTest.php
  backend/tests/Feature/WebAuthn/WebAuthnLoginTest.php
Due: none

Complete WebAuthn static class reference fixes for CI compatibility
  backend/tests/Feature/Auth/WebAuthnManagementControllerTest.php
  backend/tests/Feature/WebAuthn/WebAuthnLoginTest.php
Due: none

Fix WebAuthn UseCase import reference to use App\Models\WebAuthnCredential
  backend/app/UseCases/WebAuthn/DeleteCredentialUseCase.php
Due: backend

Add missing WebAuthnCredentialFactory for CI compatibility
  backend/database/factories/WebAuthnCredentialFactory.php
Due: backend

Fix WebAuthnCredential model filename casing for CI compatibility
  backend/app/Models/WebAuthnCredential.php
Due: backend

Add two_factor_confirmed_at property to User interface
  frontend/src/types/auth.ts
Due: frontend

Implement AI completion and normalization framework with Strategy pattern
  backend/app/Http/Controllers/Api/AI/CompletionController.php
  backend/app/Providers/AppServiceProvider.php
  backend/app/Services/AI/AIProviderFactory.php
  backend/app/Services/AI/CompletionService.php
  backend/app/Services/AI/Contracts/AIProviderInterface.php
  backend/app/Services/AI/CostTrackingService.php
  backend/app/Services/AI/Providers/AnthropicProvider.php
  backend/app/Services/AI/Providers/OpenAIProvider.php
  backend/app/UseCases/AI/CompleteFragranceUseCase.php
  backend/database/migrations/2025_09_21_115459_add_two_factor_columns_to_users_table.php
  backend/database/migrations/2025_09_21_133817_create_webauthn_credentials.php
  backend/database/migrations/2025_09_22_062209_create_personal_access_tokens_table.php
  backend/lang/en/ai.php
  backend/lang/ja/ai.php
  backend/routes/api.php
  backend/tests/Feature/Api/AI/CompletionControllerTest.php
  backend/tests/Unit/Services/AI/CompletionServiceTest.php
  database/schema.sql
Due: backend
