Repository enjoydarts/fragfolio: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

香水登録フロントエンドとバックエンドを統合
  frontend/src/pages/FragranceRegistration.tsx
Due: frontend

API認証失敗時に401 JSONレスポンスを返すように修正
  backend/bootstrap/app.php
Due: none

認証トークンのキー名を修正
  frontend/src/pages/FragranceRegistration.tsx
Due: frontend

香水コレクション一覧画面を実装
  frontend/src/App.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ja.json
  frontend/src/pages/FragranceCollection.tsx
Due: frontend

Lintエラーを修正
  frontend/src/pages/FragranceCollection.tsx
Due: frontend

Prettierでフォーマット
  frontend/src/pages/FragranceCollection.tsx
Due: frontend

翻訳キーの重複を修正と詳細ボタンを削除
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ja.json
  frontend/src/pages/FragranceCollection.tsx
Due: frontend

ビジネスロジックをControllerからUseCaseに分離
  backend/app/Http/Controllers/Api/FragranceController.php
  backend/app/UseCases/Fragrance/DeleteFragranceUseCase.php
  backend/app/UseCases/Fragrance/UpdateFragranceUseCase.php
Due: backend

Pintでコードスタイルを修正
  backend/app/Http/Controllers/Api/FragranceController.php
Due: backend

Add comprehensive tests for UpdateFragranceUseCase and DeleteFragranceUseCase
  backend/database/factories/BrandFactory.php
  backend/database/factories/FragranceFactory.php
  backend/database/factories/UserFragranceFactory.php
  backend/database/factories/UserFragranceTagFactory.php
  backend/tests/Unit/UseCases/Fragrance/DeleteFragranceUseCaseTest.php
  backend/tests/Unit/UseCases/Fragrance/UpdateFragranceUseCaseTest.php
Due: backend

Add frontend tests for FragranceRegistration and FragranceCollection
  frontend/tests/pages/FragranceCollection.test.tsx
  frontend/tests/pages/FragranceRegistration.test.tsx
Due: none

Fix CI test failures by supporting multiple schema.sql paths
  backend/tests/SqldefTestCleanup.php
  backend/tests/Unit/UseCases/Fragrance/DeleteFragranceUseCaseTest.php
  backend/tests/Unit/UseCases/Fragrance/UpdateFragranceUseCaseTest.php
Due: none

Add database/schema.sql path to SqldefTestCleanup for CI compatibility
  backend/tests/SqldefTestCleanup.php
Due: none

fix: upgrade react-router-dom from 7.9.1 to 7.9.3
  frontend/package-lock.json
  frontend/package.json
Due: frontend

fix: upgrade i18next from 25.5.2 to 25.5.3
  frontend/package-lock.json
  frontend/package.json
Due: frontend

fix: upgrade react-i18next from 16.0.0 to 16.1.4
  frontend/package-lock.json
  frontend/package.json
Due: frontend

fix: upgrade react-router-dom from 7.9.3 to 7.9.4
  frontend/package-lock.json
  frontend/package.json
Due: frontend

fix: upgrade react from 19.2.0 to 19.2.1
  frontend/package-lock.json
  frontend/package.json
Due: frontend

fix: upgrade react-dom from 19.2.0 to 19.2.1
  frontend/package-lock.json
  frontend/package.json
Due: frontend

Path conditions:
  backend: any of: backend/, but not: backend/tests/, frontend/tests/, backend/database/migrations/, backend/database/seeders/, backend/config/, backend/bootstrap/, backend/storage/, backend/resources/views/, frontend/src/test/, frontend/dist/, frontend/coverage/
  frontend: any of: frontend/, but not: backend/tests/, frontend/tests/, backend/database/migrations/, backend/database/seeders/, backend/config/, backend/bootstrap/, backend/storage/, backend/resources/views/, frontend/src/test/, frontend/dist/, frontend/coverage/
