Repository enjoydarts/fragfolio: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

PHPStan問題修正: CostControllerの戻り値型とSuggestNotesUseCaseの未使用プロパティを修正
  backend/app/Http/Controllers/Api/AI/CostController.php
  backend/app/UseCases/AI/SuggestNotesUseCase.php
Due: backend

Pint修正: コード整形完了
  backend/app/UseCases/AI/SuggestNotesUseCase.php
Due: backend

PHPStan修正: generateReport戻り値型を修正
  backend/app/Http/Controllers/Api/AI/CostController.php
Due: backend

Laravel標準認可機能を実装
  backend/app/Http/Controllers/Api/AI/CostController.php
  backend/app/Http/Middleware/AdminMiddleware.php
  backend/app/Providers/AuthServiceProvider.php
  backend/bootstrap/app.php
  backend/bootstrap/providers.php
  backend/lang/en/auth.php
  backend/lang/ja/auth.php
  backend/routes/api.php
Due: backend

Pint修正: AuthServiceProviderのコード整形
  backend/app/Providers/AuthServiceProvider.php
Due: backend

データベース設定とSeeder修正
  CLAUDE.md
  backend/database/factories/UserFactory.php
  backend/database/seeders/DatabaseSeeder.php
Due: backend

Pint修正: 未使用import削除
  backend/database/seeders/DatabaseSeeder.php
Due: none

未使用変数の削除
  frontend/src/components/ai/SmartFragranceInput.tsx
  frontend/tests/components/ai/SmartFragranceInput.test.tsx
Due: frontend

Fix frontend lint errors: TypeScript any types and React Hook dependencies
  frontend/src/components/ai/AutoCompleteInput.tsx
  frontend/src/components/ai/SmartFragranceInput.tsx
  frontend/src/hooks/useAIProviders.ts
  frontend/tests/api/ai-completion.test.ts
  frontend/tests/components/ai/SmartFragranceInput.test.tsx
Due: frontend

Fix prettier formatting
  frontend/src/App.tsx
  frontend/src/components/ai/AutoCompleteInput.tsx
  frontend/src/components/ai/ConfidenceIndicator.tsx
  frontend/src/components/ai/SmartFragranceInput.tsx
  frontend/src/hooks/useAIProviders.ts
  frontend/src/pages/FragranceRegistration.tsx
  frontend/src/stores/aiStore.ts
  frontend/tests/api/ai-completion.test.ts
  frontend/tests/components/ai/SmartFragranceInput.test.tsx
  frontend/tests/stores/aiStore.test.ts
Due: frontend

Fix test database isolation for sqldef-based project
  backend/tests/CreatesApplication.php
  backend/tests/Feature/Api/AI/BrandFragranceSeparationFeatureTest.php
  backend/tests/SqldefTestCleanup.php
  backend/tests/TestCase.php
  backend/tests/Unit/Database/Seeders/AIFeedbackSeederTest.php
  backend/tests/Unit/DatabaseConnectionTest.php
Due: none

Fix lint errors in test files
  backend/tests/CreatesApplication.php
  backend/tests/Feature/Api/AI/BrandFragranceSeparationFeatureTest.php
  backend/tests/SqldefTestCleanup.php
  backend/tests/TestCase.php
  backend/tests/Unit/Database/Seeders/AIFeedbackSeederTest.php
  backend/tests/Unit/DatabaseConnectionTest.php
Due: none

Fix CI environment file parsing error
  .github/workflows/ci.yml
  backend/.env.example
Due: backend

Add 'fallback' provider to ai_cost_tracking enum
  database/schema.sql
Due: none

Fix TypeScript build errors in frontend
  frontend/src/components/ai/AutoCompleteInput.tsx
  frontend/src/components/ai/SmartFragranceInput.tsx
  frontend/src/pages/FragranceRegistration.tsx
  frontend/src/stores/aiStore.ts
Due: frontend

Fix infinite loop in SmartFragranceInput useEffect
  frontend/src/components/ai/SmartFragranceInput.tsx
Due: frontend

Add Claude Sonnet 4.5 to available AI models
  backend/.env.example
Due: backend

Fix cache flag logic in CompletionService
  backend/app/Services/AI/CompletionService.php
Due: backend

Fix AI provider not updating when backend config changes
  frontend/src/hooks/useAIProviders.ts
Due: frontend

Improve AI completion prompt to prioritize query relevance
  backend/app/Services/AI/Providers/AnthropicProvider.php
Due: backend

Add shared PromptBuilder service for AI providers (WIP)
  backend/app/Services/AI/PromptBuilder.php
  backend/app/Services/AI/Providers/AnthropicProvider.php
Due: backend

Refactor all AI providers to use shared PromptBuilder
  backend/app/Services/AI/Providers/GeminiProvider.php
  backend/app/Services/AI/Providers/OpenAIProvider.php
Due: backend

Remove old prompt methods from AI providers
  backend/app/Services/AI/Providers/AnthropicProvider.php
  backend/app/Services/AI/Providers/GeminiProvider.php
  backend/app/Services/AI/Providers/OpenAIProvider.php
  backend/phpstan.neon
Due: backend

Update PromptBuilder to strictmode with shared JSON schemas
  backend/app/Services/AI/PromptBuilder.php
  backend/app/Services/AI/Providers/AnthropicProvider.php
  backend/app/Services/AI/Providers/GeminiProvider.php
  backend/app/Services/AI/Providers/OpenAIProvider.php
Due: backend

Remove allOf guard from suggestion schema to fix empty responses
  backend/app/Services/AI/PromptBuilder.php
Due: backend

Make rationale_brief optional in schemas to fix AI response validation
  backend/app/Services/AI/PromptBuilder.php
Due: backend

Revert schema from items to suggestions array to fix AI responses
  backend/app/Services/AI/PromptBuilder.php
  backend/app/Services/AI/Providers/AnthropicProvider.php
  backend/app/Services/AI/Providers/GeminiProvider.php
  backend/app/Services/AI/Providers/OpenAIProvider.php
Due: backend

Increase max_tokens from 1000 to 4096 for Anthropic tool calls to prevent truncated responses
  backend/app/Services/AI/Providers/AnthropicProvider.php
Due: backend

Remove debug logs that caused deep nesting warnings
  backend/app/Services/AI/Providers/AnthropicProvider.php
Due: backend

Add max_tokens to OpenAI (4096) and Gemini (8192) tool calls
  backend/app/Services/AI/Providers/GeminiProvider.php
  backend/app/Services/AI/Providers/OpenAIProvider.php
Due: backend

Improve AI service response handling and UI refinements
  backend/app/Services/AI/AIFeedbackService.php
  backend/app/Services/AI/CompletionService.php
  backend/app/Services/AI/NormalizationService.php
  backend/app/Services/AI/PromptBuilder.php
  backend/app/Services/AI/Providers/GeminiProvider.php
  frontend/src/components/ai/SmartFragranceInput.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ja.json
  frontend/src/pages/FragranceRegistration.tsx
Due: backend, frontend

Fix code style issues with Pint
  backend/app/Services/AI/CompletionService.php
  backend/app/Services/AI/Providers/GeminiProvider.php
Due: backend

Fix PHPStan errors in AIFeedbackService
  backend/app/Services/AI/AIFeedbackService.php
Due: backend

Fix frontend formatting with Prettier
  frontend/src/components/ai/SmartFragranceInput.tsx
  frontend/src/pages/FragranceRegistration.tsx
Due: frontend

Fix unit tests for fallback mechanism in CompletionService
  backend/tests/Unit/Services/AI/AIProviderResponseStructureTest.php
  backend/tests/Unit/Services/AI/BrandFragranceSeparationTest.php
  backend/tests/Unit/Services/AI/CompletionServiceTest.php
Due: none

Fix TypeScript types for NormalizationResult
  frontend/src/stores/aiStore.ts
Due: frontend

Fix remaining CompletionService unit tests
  backend/tests/Unit/Services/AI/CompletionServiceTest.php
Due: none

香水登録バックエンドAPIの実装
  backend/app/Http/Controllers/Api/FragranceController.php
  backend/app/Http/Requests/Api/StoreFragranceRequest.php
  backend/app/Models/Brand.php
  backend/app/Models/Fragrance.php
  backend/app/Models/UserFragrance.php
  backend/app/UseCases/Fragrance/RegisterFragranceUseCase.php
  backend/routes/api.php
  backend/tests/Feature/Api/FragranceRegistrationTest.php
  backend/tests/SqldefTestCleanup.php
  backend/tests/Unit/UseCases/Fragrance/RegisterFragranceUseCaseTest.php
Due: backend

PHPStanエラーを修正
  backend/app/Http/Controllers/Api/FragranceController.php
  backend/app/Models/Brand.php
  backend/app/Models/Fragrance.php
  backend/app/Models/UserFragrance.php
  backend/app/UseCases/Fragrance/RegisterFragranceUseCase.php
Due: backend

Path conditions:
  backend: any of: backend/, but not: backend/tests/, frontend/tests/, backend/database/migrations/, backend/database/seeders/, backend/config/, backend/bootstrap/, backend/storage/, backend/resources/views/, frontend/src/test/, frontend/dist/, frontend/coverage/
  frontend: any of: frontend/, but not: backend/tests/, frontend/tests/, backend/database/migrations/, backend/database/seeders/, backend/config/, backend/bootstrap/, backend/storage/, backend/resources/views/, frontend/src/test/, frontend/dist/, frontend/coverage/
