Repository enjoydarts/fragfolio: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 5%
    patch:
      default:
        target: 80%
        threshold: 5%

flags:
  backend:
    paths:
      - backend/
  frontend:
    paths:
      - frontend/

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

ignore:
  - "backend/tests/"
  - "frontend/tests/"
  - "backend/database/migrations/"
  - "backend/database/seeders/"
  - "backend/config/"
  - "backend/bootstrap/"
  - "backend/storage/"
  - "backend/resources/views/"
  - "frontend/src/test/"
  - "frontend/dist/"
  - "frontend/coverage/"

メール認証・パスワードリセット機能の完全実装
  CLAUDE.md
  backend/app/Http/Controllers/Api/Auth/AuthController.php
  backend/app/Models/User.php
  backend/app/UseCases/Auth/PasswordResetUseCase.php
  backend/app/UseCases/Auth/RegisterUserUseCase.php
  backend/app/UseCases/Auth/VerifyEmailUseCase.php
  backend/config/app.php
  backend/database/seeders/DatabaseSeeder.php
  backend/database/seeders/RoleSeeder.php
  backend/routes/api.php
  frontend/.env.example
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/Test.tsx
  frontend/src/api/auth.ts
  frontend/src/components/auth/LoginForm.tsx
  frontend/src/components/auth/RegisterForm.tsx
  frontend/src/components/auth/TurnstileWidget.tsx
  frontend/src/components/layout/Header.tsx
  frontend/src/components/layout/LoadingSpinner.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/contexts/context.ts
  frontend/src/hooks/useAuth.ts
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ja.json
  frontend/src/index.css
  frontend/src/pages/AuthPage.tsx
  frontend/src/pages/EmailVerification.tsx
  frontend/src/pages/EmailVerificationError.tsx
  frontend/src/pages/EmailVerificationSuccess.tsx
  frontend/src/pages/ForgotPassword.tsx
  frontend/src/pages/HomePage.tsx
  frontend/src/pages/ResetPassword.tsx
  frontend/src/types/auth.ts
  frontend/tailwind.config.js
Due: backend, frontend

パスワードリセットリンクのJSONレスポンス問題を修正
  backend/app/Http/Controllers/Api/Auth/AuthController.php
  backend/routes/api.php
  backend/routes/web.php
  frontend/src/App.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ja.json
  frontend/src/pages/PasswordResetError.tsx
Due: backend, frontend

コードフォーマット修正
  frontend/src/App.tsx
  frontend/src/pages/PasswordResetError.tsx
Due: frontend

パスワードリセット404エラーを修正
  backend/routes/api.php
Due: backend

不要なfrontend/frontendディレクトリを削除
  frontend/frontend/package-lock.json
  frontend/frontend/package.json
Due: frontend

backend環境設定ファイルを整理
  backend/.env.example
Due: backend

CIテスト失敗問題を修正
  backend/tests/Unit/UseCases/Auth/RegisterUserUseCaseTest.php
  frontend/src/test/utils.tsx
  frontend/tests/components/App.test.tsx
Due: none

ESLint設定を修正してテストファイルのlintエラーを解消
  frontend/eslint.config.js
Due: frontend

包括的なテストスイートを追加
  backend/tests/Unit/Models/UserTest.php
  backend/tests/Unit/Services/TurnstileServiceTest.php
  backend/tests/Unit/UseCases/Auth/PasswordResetUseCaseTest.php
  backend/tests/Unit/UseCases/Auth/VerifyEmailUseCaseTest.php
  frontend/tests/components/auth/LoginForm.test.tsx
  frontend/tests/components/layout/Header.test.tsx
  frontend/tests/hooks/useAuth.test.ts
  frontend/tests/pages/AuthPage.test.tsx
Due: none

テストカバレッジ設定とUserModelテスト修正
  backend/coverage.txt
  backend/phpunit.xml
  backend/tests/Unit/Models/UserTest.php
  frontend/src/test/utils.tsx
  frontend/tests/components/auth/LoginForm.test.tsx
  frontend/tests/components/layout/Header.test.tsx
  frontend/tests/hooks/useAuth.test.ts
  frontend/tests/pages/AuthPage.test.tsx
Due: backend

コードフォーマット修正
  frontend/src/test/utils.tsx
  frontend/tests/components/auth/LoginForm.test.tsx
  frontend/tests/pages/AuthPage.test.tsx
Due: none

CI環境でのフロントエンドテスト安定性向上
  frontend/vite.config.ts
Due: frontend

CIテスト失敗問題を修正
  frontend/tests/components/auth/LoginForm.test.tsx
  frontend/tests/pages/AuthPage.test.tsx
Due: none

ESLint設定を修正してCIエラーを解消
  frontend/eslint.config.js
Due: frontend

Prettierフォーマット修正
  frontend/tests/components/auth/LoginForm.test.tsx
  frontend/tests/pages/AuthPage.test.tsx
Due: none

TurnstileWidget環境変数モック追加でCI安定性向上
  frontend/tests/components/auth/LoginForm.test.tsx
  frontend/tests/pages/AuthPage.test.tsx
Due: none

ESLint設定最終修正でCI完全対応
  frontend/eslint.config.js
Due: frontend

TypeScriptビルドエラーを完全修正
  frontend/src/components/auth/RegisterForm.tsx
  frontend/vite.config.ts
Due: frontend

Prettierフォーマット修正
  frontend/src/components/auth/RegisterForm.tsx
Due: frontend

非同期Turnstileウィジェット検出でCIテスト安定性完全修正
  frontend/tests/components/auth/LoginForm.test.tsx
  frontend/tests/pages/AuthPage.test.tsx
Due: none

ESLint設定最終修正でpre-pushフック完全対応
  frontend/eslint.config.js
Due: frontend

CI環境でのTurnstile環境変数モック確実化
  frontend/tests/components/auth/LoginForm.test.tsx
  frontend/tests/pages/AuthPage.test.tsx
Due: none

ESLint globalIgnoresにsrc/test追加でpre-pushフック修正
  frontend/eslint.config.js
Due: frontend

CI環境対応でTurnstileモック完全強化
  frontend/tests/components/auth/LoginForm.test.tsx
  frontend/tests/pages/AuthPage.test.tsx
Due: none

CI環境でのimport.meta.env継承で最終修正
  frontend/tests/components/auth/LoginForm.test.tsx
  frontend/tests/pages/AuthPage.test.tsx
Due: none

カバレッジ閾値を現実的な値に調整
  frontend/vite.config.ts
Due: frontend

カバレッジ閾値を最終調整で40%に設定
  frontend/vite.config.ts
Due: frontend

ロゴとfaviconを作成・適用
  frontend/index.html
  frontend/public/favicon.svg
  frontend/src/assets/logo.svg
  frontend/src/components/layout/Header.tsx
  frontend/src/pages/AuthPage.tsx
Due: frontend

Laravel Fortify導入と基本設定
  backend/app/Actions/Fortify/CreateNewUser.php
  backend/app/Actions/Fortify/PasswordValidationRules.php
  backend/app/Actions/Fortify/ResetUserPassword.php
  backend/app/Actions/Fortify/UpdateUserPassword.php
  backend/app/Actions/Fortify/UpdateUserProfileInformation.php
  backend/app/Models/User.php
  backend/app/Providers/FortifyServiceProvider.php
  backend/bootstrap/providers.php
  backend/composer.json
  backend/composer.lock
  backend/config/fortify.php
  database/schema.sql
Due: backend

既存認証システムのFortify移行開始
  CLAUDE.md
  backend/app/Actions/Fortify/CreateNewUser.php
  backend/app/Providers/FortifyServiceProvider.php
  backend/config/fortify.php
  backend/database/migrations/2025_09_21_115459_add_two_factor_columns_to_users_table.php
  backend/routes/api.php
  frontend/src/api/auth.ts
Due: backend, frontend

アカウント設定画面を作成
  frontend/src/App.tsx
  frontend/src/components/layout/Header.tsx
  frontend/src/pages/AccountSettings.tsx
Due: frontend

TOTP (2FA) 完全実装
  frontend/src/api/auth.ts
  frontend/src/api/twoFactor.ts
  frontend/src/components/security/TOTPSettings.tsx
  frontend/src/pages/AccountSettings.tsx
Due: frontend

Fortify統合とWebAuthn/TOTP機能の完全実装
  backend/app/Actions/Fortify/CreateNewUser.php
  backend/app/Http/Controllers/Api/Auth/WebAuthnController.php
  backend/app/Http/Controllers/Api/Auth/WebAuthnManagementController.php
  backend/app/Http/Controllers/WebAuthn/WebAuthnLoginController.php
  backend/app/Http/Controllers/WebAuthn/WebAuthnRegisterController.php
  backend/app/Models/User.php
  backend/app/Providers/FortifyServiceProvider.php
  backend/composer.json
  backend/composer.lock
  backend/config/webauthn.php
  backend/database/migrations/2025_09_21_133817_create_webauthn_credentials.php
  backend/resources/js/vendor/webauthn/webauthn.js
  backend/routes/api.php
  database/schema.sql
  frontend/src/api/webauthn.ts
  frontend/src/components/security/TOTPSettings.tsx
  frontend/src/components/security/WebAuthnSettings.tsx
  frontend/src/pages/AccountSettings.tsx
Due: backend, frontend

Fortify認証レスポンスのカスタマイズとAPIエンドポイント修正
  backend/app/Actions/Fortify/CreateNewUser.php
  backend/app/Http/Responses/LoginResponse.php
  backend/app/Http/Responses/RegisterResponse.php
  backend/app/Providers/FortifyServiceProvider.php
  backend/routes/api.php
Due: backend

PHPStanエラーを修正
  backend/app/Http/Controllers/Api/Auth/TwoFactorLoginController.php
  backend/app/Models/EmailChangeRequest.php
  backend/app/Models/User.php
  backend/app/UseCases/TwoFactor/VerifyTwoFactorLoginUseCase.php
  backend/app/UseCases/WebAuthn/DisableCredentialUseCase.php
  backend/app/UseCases/WebAuthn/EnableCredentialUseCase.php
Due: backend

Pintによるコードスタイル修正（プロパティ定義部分）
  backend/app/Models/EmailChangeRequest.php
  backend/app/Models/User.php
Due: backend

追加のモデルプロパティ定義とメソッド修正
  backend/app/Models/EmailChangeRequest.php
  backend/app/Models/User.php
Due: backend
